<!-- wp:pattern {"slug":"basic-business/hero-section"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"2rem","bottom":"2rem"}}},"backgroundColor":"background","layout":{"type":"constrained"},"metadata":{"name":"Main"}} -->
<main class="wp-block-group has-custom-background-background-color has-background" style="padding-top:2rem;padding-bottom:2rem"><!-- wp:post-featured-image {"aspectRatio":"16/9","overlayColor":"primary"} /-->

<!-- wp:post-title /-->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:post-date /-->

<!-- wp:post-terms {"term":"category"} /-->

<!-- wp:post-author-name /--></div>
<!-- /wp:group -->

<!-- wp:post-content /--></main>
<!-- /wp:group -->
<!-- wp:pattern {"slug":"basic-business/footer-section"} /-->